*{
	margin: 0px;
	padding: 0px;
}

.flex{
	display: flex;
}

.center{
	justify-content: center;
    align-items: center;
}

ul li {
	list-style-type: none;
}

.Poppins{
	font-family: 'Poppins';
	font-style: normal;
}

button{
	border: none;
    background: rgba(255, 255, 255, 0.12);
    padding: 6px 15px 7px 14px;
    border-radius: 4px;
    color: white
}

button img {
	margin-left: 13px;
}
.button-blue{
	background-color: #F3F6F9;
	color: #6993FF;
}

.background-white{
	background-color: white;
}

.background-orange{
	background-color: #FFF4DE;
	color: #bba987;
}

.background-Violet{
	color: #cbb1fe;
	background-color: #EEE5FF;
}

.background-pink{
	color: #fcb0b9;
	background-color: #FFE2E6;
}

.background-green{
	color: #74bbb7;
	background-color: #C9F7F5;
}
.background-blue{
	background-color:#E1E9FF;
}


.color-orange{
	color:  #FFA800;
}

.color-green{
	color:  #1BC5BD;
}

.color-pink{
	color:  #F64E60;
}

.color-Violet{
	color:  #8950FC;
}

.text-color{
	color: #80808F;
}


body .color{
	color: #464E5F;
}

.color-white{
	color: white;
}

.color-grey{
	color: #959CB6;
}

.color-black{
	color: #464E5F;
}

.text-color-Violet{
	color: #8950FC;
	margin: 0px 6px;
}

.end-width{
	justify-content: end;
}

.end-height{
	align-items: flex-end;
}

.size11{
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
}
.size12{
	font-weight: 400;
	font-size: 12px;
}
.size13{
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}
.size14{
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}
.size17{
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
}
.size18{
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.size24{
	font-weight: 600;
	font-size: 24px;
}
.menu{
	width: 265px;
	height: 1500px;
	background-color: #1E1E2D;
}
.main{
    background-color: #D5D9E2;
    width: -webkit-fill-available;
    height: 100%;
}

.logo{
	background-color: #1B1B28;
}

.logo p {
	font-family: 'Museo Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
    margin:21px ;	
	color: white; 
}

.logo img{
	width: 24px;
	height: 24px;
	margin-top: 20px;
	margin-left: px;
}



.dashboard{
    margin: 42px 24px;
}

.title-menu{
	color:#4A4B68;
	margin-left: 24px;
}

.Dashboard p{
    color: white;
    margin-left: 16px;
}

.Applications{
	padding: 12px 25px 8px 25px;
	background-color: #1B1B28;
	margin-top: 11px;	
}

.Applications div{
	margin-left: 17px;
	margin-right: 82px;
}

.title-menus .arrow{
	transform: rotate(271deg);
	margin-right: 18px;
}

.title-menus:hover .arrow{
	transform: rotate(0deg);
}

.title-menus:hover .group-menu-mini{
    display: block; 
}

.group-menu-mini{
	width: 100%;
	background-color: #1E1E2D;
	margin-left: 24px;
	color: #888C9F;
}

.group-menu-mini .items  {
    padding: 12px 0px 10px 15px;
}
.group-menu-mini{
	display: none;
}

.group-menu-mini .items p{
	margin-left:9px ;
	width: 175px;
}
.group-menu{
	color: #888C9F;
	margin: 13px 0px 42px 20px;
}
.group-menu .text{
	width: 175px;
    margin: 3px 0px 0px 10px;
}

.box li{
	margin:6px 0px 19px 0px ;
}
.group-menu .pages{
}
/*--------------*/



.header-top{
	border-bottom: solid 1px #EEEFF3;
}
.items-pages{
	margin: 13px 0px 16px 30px;
	padding:8px 14px ;
	border-radius: 4px;
}

.items-add-new{
	margin: 13px 0px 13px 9px;
	padding:4px 9px ;
	border-radius: 4px;
}
.items-Actions{
	margin: 11px 0px 11px 9px;
	padding:6px 14px ;
	border-radius: 4px;
}
.header-top .left .items {
	margin: 13px 0px 16px 0px;
	padding:8px 21px ;
}

.header-top .right{
	width: 100%;
}

.header-top .right .items {
   	margin: 13px 0px 16px 0px;
	padding:6px 26px 6px 0px ;
	height: 24px;

}

.header-last .right{
	width: 74%;
}

.header-last .left .items{
	margin: 17px 0px 17px 30px;
}

.header-last .right .items{
	margin: 17px 30px 0px 9px;
}

.xsr{
	border-left: solid 1px #EEEFF3;
	padding-left: 14px;
}

.header-top .right .s{
	padding: 4px 12px 5px 13px;
	border-radius: 4px;
	background-color:  #D7F9EF;
	margin-right: 30px;
	color: #0BB783;

}
/*   content    */

.content{
	justify-content: center;
	margin-top: 30px;
}
.block{
	width: 372px;
	height: 500px;
	border-radius: 12px;
	margin-left: 30px;
}
.block:first-child{
	margin-left: 0px;
}

.head-block{
	background-color: #F64E60;
	border-radius: 12px;
}
.head-block .right{
	width: 100%;
}
.title{
	padding:27px 30px 54px 30px;
	color: white;
}

.vecter{
	margin-top: -143px;
}

.parabol{
	border-radius: 12px;
}
.card{
	justify-content: center;
	z-index: 3;

}

.child_card{
	width: 145px;
	height: 120px;
	z-index: 3;
	margin: 19px 10px;
	border-radius: 12px;
}
.items-card{
	padding: 30px 15px;
}
.items-card img{
	height: 39px;
	width: 39px;
}


/*--------------*/


.Recent-Activities{
	margin: 23px 30px;
	
}

.items-title{
	margin: 3px 11px 0px 11px;
}
.group-Activities{
	margin-top: 14px;
}

.time{
	width: 32px;
}

.avata{
	width: 36px;
	height: 36px;
	background-color: #C9F7F5;
	border-radius: 6px;
	margin: -10px 5px 0px 5px;
}

.avata img{
	padding: 8.1px 0px 0px 3.24px;
}

.block-double{
	margin-left: 30px;
}

.mini-block {
	width: 371px;
	height: 235px;
	border-radius: 12px;
	margin-top: 30px;
}

.mini-block:first-child{
	margin-top: 0px;
}
.mini-block >img {
    border-radius: 12px;
}
.group-mini{
	padding: 22px 30px 22px 30px;
}

.group-mini .icon{
	margin-top: 8px;
}
.icon-shop{
	background-color: #E1F0FF;
}
.chart{
	margin-top: 8px;
}
.group-mini .right{
	width: 100%;
}
.text-icon{
	text-align: right;
}
.text-title{
	color: #B5B5C3;
}
.group-mini .icon img{
	padding: 15px;
    border-radius: 9px;
}

/*-------*/

.group:first-child{
	width: 372px;
	margin-left: 0px;
}

.title-group .right{
	width: 60%;
}
.title-group .right img{
	margin-top: 11px;
	height:6px;
	width: 17px;
}

.group{
	width: 773px;
	height: 432px;
	border-radius: 12px;
	margin-left: 30px;
}

.title-group{
    margin: 23px 29px;
}

.icon-group{
	border-radius: 12px;
}

.icon-group img{
    margin: 10px;
}

.items-text{
	margin-left: 14px;
}

.items-group:first-child{
	margin-top: 24px;
}

.items-group{
	margin-top: 30px;
	height: 40px;
}

/*--------*/

.set-new-arrivals{
	margin: 26px 29px;
}

.set-new-arrivals  .text{
	width: 261px;
}


.set-new-arrivals .right{
	width:-webkit-fill-available;
}

.items-time{
	margin:10px 16px 0px 0px ;
}

.button-time{
	background-color: #464E5F;
	padding: 8px 15px;
	border-radius: 6px;
	color: white;
}
table{
	margin-top: 24px;
}
table .items img{
	padding: 11px;
	background-color: #F3F6F9;
	border-radius: 6px;
}
.group table tr{
	height: 84px;
}
.app{
		margin-left: 15px;

}

.dola{
	width: 175px;
}

.process{
	width: 140px;
}
.text-right{
	text-align: right;
}

.items-button{
	margin-top: 25px;
	padding: 7px 10px;
	border-radius: 6px;
}
.tools{
	width:174px ;
}
.items-tools{
	padding: 8px;
	background-color: #F3F6F9;
	border-radius: 6px;
	margin: 0px 0px 0px 10px;
}
.items-tools{
	height: 16px;
}

/*------*/

.comment{
	width: 1175px;
	border-radius: 12px;
}

.button{
	padding: 8px 19px;
	border-radius: 6px;
	color: white;
	margin-left: 10px;
}
.reds{
	background-color:#F64E60 ;
}

.blues{
	background-color: #3699FF;
}

.first-row{
	padding:13px 0px 12px 20px;
	border-radius: 6px;
	margin-top: 24px;
}

.items-product{
	width: 313px;
}
.items-earnings{
	width: 175px;
}
.items-comission{
	width: 158px;
}
.items-companny{
	width: 190px;
}
.items-rating{
	width: 160px;
}
.items-boy{
	padding: 10px 5px 0px 5px;
	border-radius: 6px;
}

.text-data{
	margin: 7px 0px 0px 15px;
}

.first-Arrivals{
    width: 327px;
}
.view{
	padding: 8px 14px;
	border-radius: 6px;
}

.table-product tr{
	height: 85px;
}