*{
	margin: 0px;
	padding: 0px;
}

.flex{
	display: flex;
}



ul li {
	list-style-type: none;
}

.Poppins{
	font-family: 'Poppins';
	font-style: normal;
}

button{
	border: none;
    background: rgba(255, 255, 255, 0.12);
    padding: 6px 15px 7px 14px;
    border-radius: 4px;
    color: white
}

button img {
	margin-left: 13px;
}

.button-blue{
	background-color: #F3F6F9;
	color: #6993FF;
}
.background-light-blue{
	background-color: #E1F0FF;
	color: #3699FF;
}

.background-white{
	background-color: white;
}

.background-orange{
	background-color: #FFF4DE;
	color: #bba987;
}

.background-Violet{
	color: #cbb1fe;
	background-color: #EEE5FF;
}

.background-pink{
	color: #fcb0b9;
	background-color: #FFE2E6;
}

.background-green{
	color: #74bbb7;
	background-color: #C9F7F5;
}
.background-blue{
	background-color:#E1E9FF ;
}
.background-black{
	background-color: #181824;
}
.color-orange{
	color: #FFA800;
}

.color-green{
	color: #1BC5BD;
}

.color-pink{
	color: #F64E60;
}

.color-Violet{
	color: #8950FC;
}

.text-color{
	color: #A9A7BC;
}


body .color{
	color: #464E5F;
}

.color-white{
	color: white;
}

.color-grey{
	color: #959CB6;
}

.color-black{
	color: #464E5F;
}


.end-width{
	display: flex;
	justify-content: end;
}

.end-height{
	display: flex;
	align-items: flex-end;
}

.size11{
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
}
.size12{
	font-weight: 400;
	font-size: 12px;
}
.size13{
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}
.size14{
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}
.size17{
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
}
.size18{
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.size24{
	font-weight: 600;
	font-size: 24px;
}


/*---------*/
.menu{
	width: 140px;
	height: 1500px;
	background-color: #1E1E2D;
}

.logo{
	padding: 36px 38px 37px 37px;
}

.group-menu{
	margin: 31px 32px ;
	text-align: center;
}

.group-menu .background-black{
    border-radius: 4px;
}
.group-menu div{
	margin-bottom: 11px;
}
.group-menu ul li img{
    margin: 12px 25px 8px 25px;
}
/*---------*/
.main{
    background-color: #D5D9E2;
    width: -webkit-fill-available;
    height: 100%;
}
.header-top{
	border-bottom: solid 1px #EEEFF3;
}
.items-pages{
	margin: 13px 0px 16px 30px;
	padding:8px 14px ;
	border-radius: 4px;
}

.items-add-new{
	margin: 13px 0px 13px 9px;
	padding:4px 9px ;
	border-radius: 4px;
}
.items-Actions{
	margin: 11px 0px 11px 9px;
	padding:6px 14px ;
	border-radius: 4px;
}
.header-top .left .items {
	margin: 13px 0px 16px 0px;
	padding:8px 21px ;
}

.header-top .right{
	width: 100%;
}

.header-top .right .items {
   	margin: 13px 0px 16px 0px;
	padding:6px 26px 6px 0px ;
	height: 24px;
}

.header-top .right .s{
	padding: 4px 12px 5px 13px;
	border-radius: 4px;
	background-color:  #E1F0FF;
	margin-right: 30px;
	color: #3699FF;

}

.header-last .right{
	width: 74%;
}

.header-last .left .items{
	margin: 17px 0px 17px 30px;
}

.header-last .right .items{
	margin: 17px 30px 0px 9px;
}

.xsr{
	border-left: solid 1px #EEEFF3;
	padding-left: 14px;
}

 .calendar{
	margin-left: 4px;
}
/*   content    */

.content{
	justify-content: center;
	margin-top: 30px;
}

.block{
	width: 400px;
	height: 473px;
	border-radius: 12px;
	margin-left: 40px;
}
.block:first-child{
	margin-left: 0px;
}

/*---------*/
.head-block{
	background-color: #F64E60;
	border-radius: 12px;
}
.head-block .right{
	width: 100%;
}
.title{
	padding:27px 30px 54px 30px;
	color: white;
}

.vecter{
	margin-top: -143px;
}

.parabol{
	border-radius: 12px;
}
.card{
	justify-content: center;
	z-index: 3;

}

.child_card{
	width: 145px;
	height: 120px;
	z-index: 3;
	margin: 19px 10px;
	border-radius: 12px;
}
.items-card{
	padding: 30px 15px;
}
.items-card img{
	height: 39px;
	width: 39px;
}


/*--------------*/


